@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #3D2505;
  background: #fec4c4;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
}

body.block-scroll {
  overscroll-behavior: none;
  overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;  
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none; 
  vertical-align: middle;
}

input:focus {
  outline: none;
}

textarea::placeholder {
  color: #C1BCB5;
}

hr {
  border: 2px solid #3D2505;
}

.overflow-scroll {
  overflow: auto;
  touch-action: pan-x pan-y;
  -webkit-overflow-scrolling: touch;
}

.shadow-pink {
  box-shadow: 4px 4px rgb(244, 152, 166)
}