@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #3d2505;
  /* background: #FFF8E7; */
  background: linear-gradient(to bottom, #ffe4e1, #ffc1cc);
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body.block-scroll {
  overscroll-behavior: none;
  overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  vertical-align: middle;
  max-height: 108px;
  word-wrap: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  background: none;
}

input {
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
}

input::selection,
textarea::selection {
  /* background: transparent; */
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important; /* 글자 색상 유지 */
}

input::placeholder,
textarea::placeholder {
  color: #c1bcb5;
}

hr {
  border: 2px solid #3d2505;
}

button {
  font-family: "Cafe24Ssurround";
}

img {
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.overflow-scroll {
  overflow: auto;
  touch-action: pan-x pan-y;
  -webkit-overflow-scrolling: touch;
}

.text-shadow {
  text-shadow: -2px 0 #3d2505, 0 2px #3d2505, 2px 0 #3d2505, 0 -2px #3d2505;
}

canvas {
  touch-action: none;
}

.cafe24-surround {
  font-family: 'Cafe24Ssurround';
}
